//- button.button.button_green(ng-click='addPhoto()') ＋写真を追加
div.btn_group
			input(type='file' id='addPhoto' multifile-model='addPhoto' multiple='multiple')
			label.button.button_green(for='addPhoto') ＋写真を追加
