h1 Hello {{user.name}}
p ユーザー情報
ul
	li name: {{user.name}}
	li id:   {{user._id}}
	//- li photo: {{user.profile.photo}}
	li
		img(ng-src='{{user.profile.photo}}')
		button.button.button_gray(ng-click='changeAvatar()') Avatar


