doctype html
html(ng-app="myApp")
  base(href='/')
  head
    meta(charset='utf8')
    base(href='/')
    title Angular Express Seed App
    link(rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css")

    link(rel='stylesheet/less', href='stylesheets/style.less')
    script(src='bower_components/less/dist/less.js')
  body(ng-controller="AllCtrl")
    div.header.border_bottom
        div.logo
            a(ui-sref='login')
                img(src='images/common/logo.png')
        ul.navbar
            li.navbar_inner
                div.navbar_item.navbar_item_normal TOP
            li.navbar_inner
                div.navbar_item.navbar_item_normal TOP
            li.navbar_inner
                div.navbar_item.navbar_item_normal TOP
        div.logout(ng-show='user.name' ng-click='logout()') Logout
        a.profile(ng-if='user.name' ui-sref='userPage')
            img(ng-src="{{user.profile.photo}}")
    //- a(ui-sref='login') login
    //- div(ng-controller='MainCtrl' style='overflow-x: hidden')
    ui-view
            //- ng-view

    div.footer
        p &copy; Company 2012
    script(src='bower_components/jquery/dist/jquery.js')
    script(src='bower_components/jquery-ui/jquery-ui.js')
    script(src='bower_components/angular/angular.js')
    script(src='bower_components/angular-ui-router/release/angular-ui-router.js')
    script(src='bower_components/ngstorage/ngStorage.js')
    script(src='bower_components/angular-animate/angular-animate.js')
    script(src='bower_components/angular-resource/angular-resource.js')
    //- script(src='bower_components/angular-cookies/angular-cookies.js')
    script(src='bower_components/ng-flow/dist/ng-flow-standalone.js')
    script(src='bower_components/fusty-flow.js/src/fusty-flow.js')
    script(src='bower_components/fusty-flow.js/src/fusty-flow-factory.js')
    //- script(src='bower_components/ng-flow/dist/ng-flow-standalone.js')
    script(src='bower_components/ng-file-upload/ng-file-upload.js')
    script(src='bower_components/ng-file-upload-shim/ng-file-upload-shim.js')
    script(src='bower_components/angular-ui-bootstrap-bower/ui-bootstrap-tpls.js')
    script(src="/socket.io/socket.io.js")
    script(src='javascripts/app.js')
    script(src='javascripts/controller.js')
