//- div.modal-header
	h1 削除しますか？
div.modal-body
	div.clearfix
		div.fleft(style="padding-top:20px;") 削除しますか？
		div.fright
			button.button.button_green(ng-click="ok()") はい
			button.button.button_gray(ng-click="cancel()") いいえ
//- div.modal-footer